.blogCard {
  cursor: pointer;

  &:hover img {
    transform: scale(1.13);
  }

  &:hover .imgOverlay {
    opacity: 1;
  }

  .imgOverlay {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    pointer-events: none;
    transition: all 300ms ease-out;
    background-color: rgba($color: #000000, $alpha: 0.2);
  }

  .blogCardImg {
    position: relative;
    height: 200px;

    img {
      object-fit: cover;
      transition: all 200ms ease-out;
      // object-position: top;
    }
  }

  .blogTitle {
    line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #374046 !important;
  }

  .date span {
    color: #374046 !important;
    font-size: 14px;
  }
}

// .blogCard:hover img {
//   transform: scale(1.13);
// }
