// profile img section
.profileMainImg {
  position: relative;
  height: 150px;
  width: 150px;
}

.profileImg {
  position: relative;
  height: 40px;
  width: 40px;
}

// activites
.imgBox {
  height: 45px;
  width: 45px;
  margin-right: 15px;
}
