.itemCount {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #30d5c8;
}

.itemLine {
  height: 3px;
  width: 100px;
  max-width: 100px;
  margin-top: -27px;
  background-color: #aaa;
}
